hr {
	border-top				: 1px dashed #C0C0C0;
}

#div_time_title {
	padding-top				: 10px;
	padding-bottom			: 10px;
	font-weight				: bolder;
	font-size				: 18px;
}

#div_contents {
	padding					: 10px 10px 10px 10px;
	font-size 				: 14px;
}

#div_contents_table {
	margin-top 				: 10px;
	width 					: 940px;
	overflow 				: hidden;
}

.div_contents_cell {
	margin 					: 10px 0 20px 0;
	float 					: left;
}

.div_contents_title {
	padding 				: 10px 10px 3px 3px;
	font-size 				: 15px;
	font-weight 			: bolder;
	border-bottom 			: 1px solid #cccccc;
}

INPUT[type=radio] {
	vertical-align 			: -1.2px;
}

INPUT[type=button] {
	vertical-align 			: -2.5px;
    height 					: 20px;
}

INPUT[type=text] {
	vertical-align 			: 1px;
    font-size 				: 12px;
    height 					: 16px;
    padding 				: 0 10px 0 10px;
}

INPUT[type=password] {
    font-size 				: 12px;
    height 					: 16px;
    padding 				: 0 10px 0 10px;
}

.div_time_button {
	background-color 		: #e7e7e7;
	border 					: 1px solid #aaaaaa;
	color 					: black;
	text-align 				: center;
	text-decoration 		: none;
	cursor 					: pointer;
	font-size 				: 12px;
	width 					: 90px;
	height 					: 23px;
	border-radius			: 2px;
	margin 					: 0 0 0 5px;
	float 					: right;
	transition-duration		: 0.4s;
	display 				: flex;
	align-items 			: center;
	justify-content 		: center;
}

#div_button_syncTime {
	float: left; 
	height: 35px;
	width: 120px;
	text-align 	: center;
}

.div_time_button:hover {
	background-color 		: #7f7f7f;
	color 					: white;
}

.div_contents_cell_line {
	display 				: flex;
	margin 					: 0px 10px 0px 10px;
	width 					: 920px;
	border-top 				: 1px solid #cccccc;
	float 					: left;
}

.div_contents_cell_title {
	order 					: 1;
	display 				: flex;
	align-items 			: center;
	width 					: 250px;
	padding 				: 10px 0 10px 10px;
	margin 		 			: 0 10px 0 0;
	background 				: #eeeeee;
	float 					: left;
	font-weight 			: bolder;
}

.div_contents_cell_contents{
	order 					: 2;
	width 					: 630px;
	padding 				: 10px 0 10px 0;
	float 					: left;
	overflow 				: hidden;
}

.div_button_wrap{
	padding 				: 5px 10px 5px 10px;
	overflow 				: hidden;
}

.div_contents_table_time_text{
	height 					: 25px;
	line-height 			: 25px;
}

.div_client_time {
	padding 				: 5px 0 5px 10px;
	margin-top 				: 8px;
	float 					: left;
	border-left				: 5px solid #999;
	background 				: #f2f2f2;
	width 					: 100%;
}

/* 아래로 radio 설정*/
.div_radio_wrap{
	float 					: left;
	margin-bottom 			: 10px;
}

.label_radio {
	color 					: #999999;
	padding 				: 0 15px;
	border-radius 			: 3px;
	border 					: 1px solid #D1D3D4;
}

/* hide input */
input.radio:empty {
	visibility 				: hidden;
}

/* style label */
input.radio:empty ~ .label_radio {
	position 				: relative;
	float 					: left;
	line-height 			: 30px;
	text-indent 			: 30px;
	cursor 					: pointer;
	-webkit-user-select 	: none;
	-moz-user-select 		: none;
	-ms-user-select 		: none;
	user-select 			: none;
}

input.radio:empty ~ .label_radio:before {
	position 				: absolute;
	display 				: block;
	top 					: 0;
	bottom 					: 0;
	left 					: 0;
	content 				: '';
	width 					: 30px;
	background 				: #D1D3D4;
	border-radius 			: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content 				:'\2714';
	text-indent 			: 10px;
	color 					: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color 					: #555555;
	border-color 			: #888888;
}

/* toggle on */
input.radio:checked ~ .label_radio:before {
	content 				:'\2714';
	text-indent 			: 10px;
	color 					: #ffffff;
	background-color 		: #888888;
}

input.radio:checked ~ .label_radio {
	color 					: #555555;
	border-color 			: #888888;
}
/*radio 설정 종료*/

#select_timezoneList {
	width				: 500px;			/* 원하는 너비설정 */
	padding 			: 10px 10px;		/* 여백으로 높이 설정 */
	font-family 		: inherit;			/* 폰트 상속 */
	background 			: url("../img/select_arrow.jpg") no-repeat 95% 50%; /* 네이티브 화살표 대체 */
	background-size		: 30px;
	border 				: 1px solid #999;
	border-radius		: 0px;				/* iOS 둥근모서리 제거 */
	-webkit-appearance	: none;				/* 네이티브 외형 감추기 */
	-moz-appearance		: none;
	appearance			: none;
}

.textbox {
	position 			: relative;
}

.textbox label {
	position 			: absolute;
	top 				: 1px; 			/* input 요소의 border-top 설정값 만큼 */
	left 				: 1px;			/* input 요소의 border-left 설정값 만큼 */
	padding 			: 8px 10px;		/* input 요소의 padding 값 만큼 */
	color 				: #999;
	cursor 				: text;
	display				: none;
}

.textbox input[type="text"], .textbox input[type="password"] {
	width				: 300px;		/* 원하는 너비 설정 */
	height 				: auto;			/* 높이값 초기화 */
	line-height			: normal;		/* line-height 초기화 */
	padding 			: 10px 10px;	/* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
	font-family 		: inherit; 		/* 폰트 상속 */
	border 				: 1px solid #999;
	border-radius 		: 0; 			/* iSO 둥근모서리 제거 */
	outline-style 		: none; 		/* 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance 	: none; 		/* 브라우저별 기본 스타일링 제거 */
	-moz-appearance 	: none;
	appearance 			: none;
}

.div_table_title_wrap {
	display 				: flex;
	flex-direction 			: column;
	float 					: left;
	white-space 			: nowrap;
}

.div_table_contents_wrap {
	flex 					: 1;
	display 				: flex;
	flex-direction 			: column;
	float 					: left;
}

.div_contents_table_text {
	height 					: 38px;
	display 				: flex;
	align-items 			: center;
	order 					: 1;
 	float 					: left;
 	margin-top 				: 8px;
 	padding 	 			: 5px 10px;
 	border-left				: 5px solid #999;
 	background 				: #f2f2f2;
 	white-space 			: nowrap;
}

.div_contents_table_box {
	order 					: 2;
	padding 				: 5px 5px 5px 0;
	height 					: 38px;
 	float 					: left;
 	margin-top 				: 8px;
 	background 				: #f2f2f2;
}

.div_table_visible{
	 width: 645px;
	float  					: left;
	overflow 				: hidden;
	display 				: none;
}

.select_systemCheck {
	width				: 80px;				/* 원하는 너비설정 */
	height				: 38px;
	line-height			: 38px;
	background 			: url("../img/select_arrow.jpg") no-repeat 95% 50%; /* 네이티브 화살표 대체 */
	background-size		: 5px;
	padding 			: 0 10px;			/* 여백으로 높이 설정 */
	font-family 		: inherit;			/* 폰트 상속 */
	background-size		: 30px;
	border 				: 1px solid #999;
	border-radius		: 0px;				/* iOS 둥근모서리 제거 */
	-webkit-appearance	: none;				/* 네이티브 외형 감추기 */
	-moz-appearance		: none;
	appearance			: none;
	background-color 	: #fff;
}

#present_time {
	height 				: 38px;
	line-height 		: 38px;
}

.span_systemDate {
	width 				: 47px;
	display 			: inline-block;
}
