.div_table {
	display  		: flex;
	flex-direction  : column;
	margin 			: 5px 10px;
	font-size 		: 10pt;
}

.div_table_row {
	display 		: flex;
	flex 			: 1;
}

.div_table_column {
	flex 			: 1;
	display  		: flex;
	flex-direction  : column;
	border-top		: 1px solid #dddddd;
	border-left		: 1px solid #dddddd;
}

.div_table_row:last-child .div_table_cell {
	border-bottom	: 1px solid #dddddd;
}

.div_table_cell {
	flex 			: 1;
	border-top		: 1px solid #dddddd;
	border-left		: 1px solid #dddddd;
	display 		: flex;
	align-items 	: center;
	justify-content	: center;
	min-height 		: 30px;
}

.div_table_cell:last-child {
	border-right	: 1px solid #dddddd;
}

.div_table_background {
	background 		: #efefef;
	font-weight 	: bold;
}

.div_table_column .div_table_cell {
	border	: 0;
}

.div_table_column .div_table_cell:nth-child(2) {
	 border-top	: 1px solid #dddddd;
}

.div_table_column:last-child .div_table_cell {
	border-right	: 1px solid #dddddd;
}

.div_table_column .div_table_cell {
	border-right	: 0;
}

.div_table_cell_double {
	flex 			: 2;
}

.div_title {
	margin-top 		: 20px;
	margin-left 	: 10px;
	font-weight		: bold;
}
