hr {
	border-top				: 1px dashed #C0C0C0;
}

#div_log_title {
	padding-top				: 10px;
	padding-bottom			: 10px;
	font-weight				: bolder;
	font-size				: 18px;
}

#div_contents {
	padding					: 10px 10px 10px 10px;
	font-size 				: 14px;
}

#div_contents_table {
	margin-top 				: 10px;
	width 					: 100%;
	overflow 				: hidden;
}

.div_contents_cell {
	width 					: 100%;
	margin 					: 10px 0 20px 0;
	float 					: left;
}

.div_contents_cell_line {
	width 					: 100%;
	border-top 				: 1px solid #cccccc;
	display 				: flex;
	flex-direction			: column;
}

.div_contents_cell_title {
	order 					: 1;
	padding 				: 10px 0;
	text-indent 			: 10px;
	background 				: #eeeeee;
	float 					: left;
	display 				: flex;
	align-items 			: center;
	font-weight 			: bolder;
	border-left				: 1px solid #cccccc;
	border-right			: 1px solid #cccccc;
	white-space 	 		: nowrap;

}

.title_sub {
	flex 					: 1; 
	text-align 				: center;
}

.div_contents_cell_contents {
	display 				: flex;
	order 					: 2;
	padding 				: 10px 0;
	text-indent 			: 10px;
	float 					: left;
	border-left				: 1px solid #cccccc;
	border-right			: 1px solid #cccccc;
}

.div_button {
	text-indent 			: 0;
	background-color 		: #f2f2f2;
	color 					: black;
	border 					: 1px solid #aaaaaa;
	text-align 				: center;
	text-decoration 		: none;
	display 				: inline-block;
	cursor 					: pointer;
	font-size 				: 12px;
	width 					: 90px;
	height 					: 23px;
	line-height				: 23px;
	border-radius			: 2px;
	margin 					: 0 0 0 5px;
	float 					: right;
	transition-duration		: 0.4s;
}

.div_button_wrap {
	padding 				: 0px 10px;
	overflow 				: hidden;
}

.div_contents_cell_category {
	margin-top				: 10px;
	order 					: 1;
	padding 				: 10px 0;
	text-indent 			: 10px;
	background 				: #878787;
	color 					: #ffffff;
	float 					: left;
	display 				: flex;
	align-items 			: center;
	font-weight 			: bolder;
	border-left				: 1px solid #cccccc;
	border-right			: 1px solid #cccccc;
}

.lock_img {
	margin 			: 0 5px 0 0;
	width 			: 20px;
	height 			: 20px;
	background-image: url('../img/lock.svg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.unlock_img {
	margin 			: 0 5px 0 0;
	width 			: 20px;
	height 			: 20px;
	background-image: url('../img/unlock.svg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.div_contents_row {
	display 		: flex;
	height 			: 30px;
}

.contents_column {
	flex 			: 1;
	display 		: flex;
	flex-direction 	: column;
}

.div_id,
.div_lock_img {
	flex 			: 1;
	display 		: flex;
	justify-content : center;
	align-items		: center;
}

.div_contents_column {
	display 				: flex;
	flex-direction 			: column;
	order 					: 2;
	text-indent 			: 10px;
	float 					: left;
}