hr {
	border-top				: 1px dashed #C0C0C0;
}

#div_contents_log_viewer {
	padding					: 10px 10px 10px 10px;
}
#div_log_title {
	padding-top				: 10px;
	padding-bottom			: 10px;
	font-weight				: bolder;
	font-size				: 18px;
}
#div_log_banner {
	text-align 				: right;
	margin-top 				: 10px;
	font-size 				: 14px;
	font-weight 			: bolder;
}
#div_log_form {
	margin-top				: 5px;
	border					: 1px solid #C0C0C0;
	height					: 400px;
}

#select_log_displayType {
	width 					: 230px; /* 150 */
	height 					: 25px;
	line-height				: 25px;
	font-size				: 14px;
	float					: left;
}
#select_log_updateMode,
#select_log_updateTime {
	width 					: 120px;
	height 					: 25px;
	line-height				: 25px;
	font-size				: 14px;
	float					: left;
	margin-left				: 4px;
}
#select_log_displayLine,
#select_log_scrollMode {
	width 					: 120px;
	height 					: 25px;
	line-height				: 25px;
	font-size				: 14px;
	float					: left;
	margin-left				: 4px;
}

.div_log_button {
	background-color 		: #e7e7e7;
	border 					: 1px solid #7c7c7c;
	color 					: black;
	text-align 				: center;
	text-decoration 		: none;
	display 				: inline-block;
	cursor 					: pointer;
	font-size 				: 12px;
	width 					: 100px;
	height 					: 24px;
	line-height				: 24px;
	border-radius			: 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration		: 0.4s;
}
.div_log_button:hover {
	background-color 		: #7f7f7f;
	color 					: white;
}

#div_log_frame {
	overflow-x 				: hidden;
	overflow-y 				: auto;
	height 					: 346px;
	border 					: 1px solid #7c7c7c;
	margin 					: 2px 2px 2px 2px;
	font-size				: 14px;
	padding-left			: 10px;
}
.div_log_more {
	height 					: 20px;
	line-height				: 20px;
	background 				: #E0E0E0;
	border 					: 1px solid #7C7C7C;
	margin 					: 2px 2px 2px 2px;
	cursor 					: pointer;
	text-align 				: center;
	vertical-align			: middle;
	font-size				: 14px;
	font-weight				: bolder;
}