hr {
	border-top				: 1px dashed #C0C0C0;
}

#div_network_title {
	padding-top				: 10px;
	padding-bottom			: 10px;
	font-weight				: bolder;
	font-size				: 18px;
}

#div_contents {
	padding					: 10px 10px 10px 10px;
	font-size 				: 14px;
}

#div_contents_table {
	margin-top 				: 10px;
	width 					: 940px;
	overflow 				: hidden;
}

.div_contents_cell {
	margin 					: 10px 0 20px 0;
	float 					: left;
}

.div_contents_title {
	padding 				: 10px 10px 3px 3px;
	font-size 				: 15px;
	font-weight 			: bolder;
	border-bottom 			: 1px solid #cccccc;
}

INPUT[type=button] {
	vertical-align 			: -2.5px;
    height 					: 20px;
}

.div_network_button {
	background-color 		: #e7e7e7;
	border 					: 1px solid #aaaaaa;
	color 					: black;
	text-align 				: center;
	text-decoration 		: none;
	display 				: inline-block;
	cursor 					: pointer;
	font-size 				: 12px;
	width 					: 90px;
	height 					: 23px;
	line-height				: 23px;
	border-radius			: 2px;
	margin 					: 0 0 0 5px;
	float 					: right;
	transition-duration		: 0.4s;
}

.div_network_button:hover {
	background-color 		: #7f7f7f;
	color 					: white;
}

.div_contents_cell_line {
	margin 					: 0px 10px 0px 10px;
	width 					: 920px;
	border-top 				: 1px solid #cccccc;
	float 					: left;
	display 				: flex;
}

.div_contents_cell_title {
	order 					: 1;
	width 					: 250px;
	padding 				: 10px 0 10px 10px;
	margin 		 			: 0 10px 0 0;
	background 				: #eeeeee;
	float 					: left;
	display 				: flex;
	align-items 			: center;
	font-weight 			: bolder;
}

.div_contents_cell_contents {
	order 					: 2;
	width 					: 630px;
	padding 				: 10px 0 10px 0;
	float 					: left;
}

.div_button_wrap {
	padding 				: 5px 10px 5px 10px;
	overflow 				: hidden;
}

.div_table_radio {
	width 					: 20px;
	height 					: 25px;
	line-height				: 25px;
	float 					: left;
	text-align 				: center;
}

.div_contents_table_time_text {
	height 					: 25px;
	line-height 			: 25px;
}

.div_table_title_wrap {
	display 				: flex;
	flex-direction 			: column;
	float 					: left;
}

.div_table_contents_wrap {
	display 				: flex;
	flex-direction 			: column;
	float 					: left;
	width					: 100%;
}

.div_contents_table_text {
	height 					: 38px;
	display 				: flex;
	align-items 			: center;
	order 					: 1;
 	float 					: left;
 	margin-top 				: 8px;
 	padding 	 			: 5px 30px 5px 10px;
 	border-left				: 5px solid #999;
 	background 				: #f2f2f2;
 	white-space 			: nowrap;
}

.div_contents_table_box {
	order 					: 2;
	padding 				: 5px 5px 5px 0;
	height 					: 38px;
 	float 					: left;
 	margin-top 				: 8px;
 	background 				: #f2f2f2;
}

.input_textbox {
	width 					: 150px;
}

.div_table_visible{
	width 					: 645px;
	float  					: left;
	overflow 				: hidden;
	display 				: flex;
}

/* 아래로 radio 설정*/
.div_radio_wrap{
	float 					: left;
}

.label_radio {
	color 					: #999999;
	padding 				: 0 15px;
	border-radius 			: 3px;
	border 					: 1px solid #D1D3D4;
	min-width				: 135px;
}

/* hide input */
input.radio:empty {
	visibility 				: hidden;
}

/* style label */
input.radio:empty ~ .label_radio {
	position 				: relative;
	float 					: left;
	line-height 			: 30px;
	text-indent 			: 30px;
	cursor 					: pointer;
	-webkit-user-select 	: none;
	-moz-user-select 		: none;
	-ms-user-select 		: none;
	user-select 			: none;
}

input.radio:empty ~ .label_radio:before {
	position 				: absolute;
	display 				: block;
	top 					: 0;
	bottom 					: 0;
	left 					: 0;
	content 				: '';
	width 					: 30px;
	background 				: #D1D3D4;
	border-radius 			: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content 				:'\2714';
	text-indent 			: 10px;
	color 					: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color 					: #555555;
	border-color 			: #888888;
}

/* toggle on */
input.radio:checked ~ .label_radio:before {
	content 				:'\2714';
	text-indent 			: 10px;
	color 					: #ffffff;
	background-color 		: #888888;
}

input.radio:checked ~ .label_radio {
	color 					: #555555;
	border-color 			: #888888;
}
/*radio 설정 종료*/

.textbox {
	position 			: relative;
}

.textbox label {
	position 			: absolute;
	top 				: 1px; 			/* input 요소의 border-top 설정값 만큼 */
	left 				: 1px;			/* input 요소의 border-left 설정값 만큼 */
	padding 			: 8px 10px;		/* input 요소의 padding 값 만큼 */
	color 				: #999;
	cursor 				: text;
	display				: none;
}

.textbox input[type="text"], .textbox input[type="password"] {
	width				: 298px;		/* 원하는 너비 설정 */
	height 				: auto;			/* 높이값 초기화 */
	line-height			: normal;		/* line-height 초기화 */
	padding 			: 10px 10px;	/* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
	font-family 		: inherit; 		/* 폰트 상속 */
	border 				: 1px solid #999;
	border-radius 		: 0; 			/* iSO 둥근모서리 제거 */
	outline-style 		: none; 		/* 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance 	: none; 		/* 브라우저별 기본 스타일링 제거 */
	-moz-appearance 	: none;
	appearance 			: none;
}

#tabs-1 {
	overflow 				: hidden;
}

#tabs-2 {
	overflow 				: hidden;
}

#tabs-3 {
	overflow 				: hidden;
}

#div_tabs {
	margin-top 				: 10px;
	border 					: 1px solid #c5c5c5;
	border-radius 			: 3px;
}

#div_tabs_list_wrap {
	background 				: #e9e9e9;
	margin 					: 3px;
	border 					: 1px solid #dddddd;
	border-radius 			: 3px;
	padding 				: 3px 3px 0 3px;
	overflow 				: hidden;
}

.tabs_list {
	float 					: left;
	padding 				: 7px 14px;
	font-size 				: 14px;
	background 				: #f6f6f6;
	color 					: #000000;
	margin 					: 1px 3px 0 0;
	border 					: 1px solid #c5c5c5;
	border-bottom 			: 0;
	border-top-left-radius 	: 3px;
	border-top-right-radius : 3px;
	cursor 					: pointer;
}

.tabs_list:hover {
	background 				: #e6e6e6;
}

#tabs_contents {
	overflow 				: hidden;
	padding 				: 0 20px;
}

.tabs{
	display :none;
}

#tabs-1{
	display:block;
}

.tabs_list_click {
	background 				: #555555;
	color 					: #ffffff;
	cursor 					: default;
}

.tabs_list_click:hover {
	background 				: #333333;
}
